<mat-toolbar color="primary" role="banner">
  <button mat-icon-button id="main-menu" aria-label="Application menu">
    <mat-icon>menu</mat-icon>
  </button>

  <a id="title" mat-button [routerLink]="['']">{{title}}</a>
  <span class="app-spacer"></span>

  <button id="theme-menu" mat-icon-button color="primary" [matMenuTriggerFor]="menu">
    <mat-icon fontIcon="format_color_fill"></mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    @for (theme of _themes.registry(); track theme.id) {
    <button mat-menu-item (click)="_themes.set(theme.id)">
      <mat-icon color="accent" [fontIcon]="_getThemeIcon(theme)"></mat-icon>
      <span>{{theme.name}}</span>
    </button>
    }
  </mat-menu>
</mat-toolbar>

<router-outlet />
