// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use "@angular/material" as mat;
/* You can add global styles to this file, and also import other style files */

:root {
  @include mat.table-overrides((
    row-item-outline-color: var(--mat-sys-surface-container-high)
  ));

  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary-container),
    container-text-color: var(--mat-sys-primary)
  ));

  @include mat.menu-overrides((
    item-label-text-color: var(--mat-sys-on-surface),
    item-icon-color: var(--mat-sys-secondary)
  ));

  @include mat.button-overrides((
    filled-container-color: var(--mat-sys-primary-container),
    filled-label-text-color: var(--mat-sys-primary)
  ));

  @include mat.slide-toggle-overrides((
    track-width: 36px,
    track-height: 20px,
    selected-pressed-handle-horizontal-margin: 0 16px,
    selected-with-icon-handle-horizontal-margin: 0 16px,
    unselected-pressed-handle-horizontal-margin: 0 -8px,
    unselected-with-icon-handle-horizontal-margin: 0 -6px
  ));

  @include mat.icon-overrides((
    color: var(--mat-sys-primary)
  ));

  @include mat.dialog-overrides((
    container-color: var(--mat-sys-surface-container-high),
    subhead-color: var(--mat-sys-on-surface),
    container-shape: 0.5rem
  ));

  @include mat.card-overrides((
    title-text-size: calc(var(--mat-sys-title-medium-size) * 1.2),
    subtitle-text-size: calc(var(--mat-sys-title-medium-size) * 0.875),
    subtitle-text-color: color-mix(in srgb, var(--mat-sys-on-background), #666 20%),
    elevated-container-shape: 0.25rem
  ));
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@for $i from 1 through 20 {
  .app-w-#{$i} {
    --multiplier: #{$i};
    width: calc(var(--spacing) * var(--multiplier));
    height: calc(var(--spacing) * var(--multiplier));
  }
}

/** Layouts **/

.app-l-flex {
  display: flex !important;
}

.app-l-inline-flex {
  display: inline-flex !important;
}

.app-l-flex-spacer-1r {
  flex-grow: 1 !important;
  min-width: 1rem;
}

.app-l-flex-column {
  flex-direction: column !important;
}

.app-l-flex-row {
  flex-direction: row !important;
}

.app-l-align-start {
  align-items: flex-start !important;
}

.app-l-align-center {
  align-items: center !important;
}

.app-l-align-end {
  align-items: flex-end !important;
}

.app-l-justify-start {
  justify-content: flex-start !important;
}

.app-l-justify-around {
  justify-content: space-around !important;
}

.app-l-justify-between {
  justify-content: space-between !important;
}

.app-l-justify-center {
  justify-content: center !important;
}

.app-l-justify-end {
  justify-content: flex-end !important;
}

/** Spacing **/

$spacing: (
  0: 0,
  hr: 0.5rem,
  1r: 1rem,
  2r: 2rem,
  3r: 3rem,
  4r: 4rem,
  5r: 5rem,
  6r: 6rem
);
$directions: (
  l: left,
  t: top,
  r: right,
  b: bottom
);

@mixin spacing($prop, $short) {
  @each $space-name, $space in $spacing {
    .app-#{$short}-#{$space-name} {
      #{$prop}: $space !important;
    }
    @each $dir-name, $dir in $directions {
      .app-#{$short}#{$dir-name}-#{$space-name} {
        #{$prop}-#{$dir}: $space !important;
      }
    }
  }
}

@mixin flex-gap() {
  @each $space-name, $space in $spacing {
    .app-l-flex-gap-#{$space-name} {
      gap: $space !important;
    }
  }
}

@include flex-gap();
@include spacing(padding, p);
@include spacing(margin, m);

/** New World Assets */

.nw-icon {
  background-color: #121212;
}

.nw-item-icon-bg {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: var(--rarity-bg-sqr, url(https://www.nw-buddy.de/assets/icons/item/itemraritybgsquare0.png));

  &.rounded-full {
    background-image: var(--rarity-bg-rnd, url(https://www.nw-buddy.de/assets/icons/item/itemraritybgcircle0.png));
  }
}

.nw-item-icon-border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid transparent;
  background: linear-gradient(to bottom, var(--rarity-c1, #c8c8c8), var(--rarity-c2, #a1a1a1)) border-box;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  transition:
    --rarity-c1 0.15s ease,
    --rarity-c2 0.15s ease;

  &.rounded-full {
    border: 2px solid transparent;
  }
}

.nw-item-icon-mask {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.nw-item-rarity-common {
  --rarity-c0: #2e3236;
  --rarity-c1: #dddddd;
  --rarity-c2: #666666;
  --rarity-bg-sqr: url(https://www.nw-buddy.de/assets/icons/item/itemraritybgsquare0.png);
  --rarity-bg-rnd: url(https://www.nw-buddy.de/assets/icons/item/itemraritybgcircle0.png);
  --rarity-bg-head: url(https://www.nw-buddy.de/assets/icons/item/tooltip_header_bg_0.png);
}

.nw-item-rarity-uncommon {
  --rarity-c0: #19451c;
  --rarity-c1: #34ec5b;
  --rarity-c2: #00ab1a;
  --rarity-bg-sqr: url(https://www.nw-buddy.de/assets/icons/item/itemraritybgsquare1.png);
  --rarity-bg-rnd: url(https://www.nw-buddy.de/assets/icons/item/itemraritybgcircle1.png);
  --rarity-bg-head: url(https://www.nw-buddy.de/assets/icons/item/tooltip_header_bg_1.png);

  &.named {
    --rarity-bg-sqr: url(https://www.nw-buddy.de/assets/icons/item/itemraritybgsquarenamed1.png);
    --rarity-bg-ani: url(https://www.nw-buddy.de/assets/icons/item/named_bg_1.webp);
  }
}

.nw-item-rarity-rare {
  --rarity-c0: #144f5d;
  --rarity-c1: #72ffff;
  --rarity-c2: #31bdeb;
  --rarity-bg-sqr: url(https://www.nw-buddy.de/assets/icons/item/itemraritybgsquare2.png);
  --rarity-bg-rnd: url(https://www.nw-buddy.de/assets/icons/item/itemraritybgcircle2.png);
  --rarity-bg-head: url(https://www.nw-buddy.de/assets/icons/item/tooltip_header_bg_2.png);

  &.named {
    --rarity-bg-sqr: url(https://www.nw-buddy.de/assets/icons/item/itemraritybgsquarenamed2.png);
    --rarity-bg-ani: url(https://www.nw-buddy.de/assets/icons/item/named_bg_2.webp);
  }
}

.nw-item-rarity-epic {
  --rarity-c0: #421849;
  --rarity-c1: #ff57ff;
  --rarity-c2: #e600de;
  --rarity-bg-sqr: url(https://www.nw-buddy.de/assets/icons/item/itemraritybgsquare3.png);
  --rarity-bg-rnd: url(https://www.nw-buddy.de/assets/icons/item/itemraritybgcircle3.png);
  --rarity-bg-head: url(https://www.nw-buddy.de/assets/icons/item/tooltip_header_bg_3.png);

  &.named {
    --rarity-bg-sqr: url(https://www.nw-buddy.de/assets/icons/item/itemraritybgsquarenamed3.png);
    --rarity-bg-ani: url(https://www.nw-buddy.de/assets/icons/item/named_bg_3.webp);
  }
}

.nw-item-rarity-legendary {
  --rarity-c0: #55371c;
  --rarity-c1: #ffa535;
  --rarity-c2: #f07808;
  --rarity-bg-sqr: url(https://www.nw-buddy.de/assets/icons/item/itemraritybgsquare4.png);
  --rarity-bg-rnd: url(https://www.nw-buddy.de/assets/icons/item/itemraritybgcircle4.png);
  --rarity-bg-head: url(https://www.nw-buddy.de/assets/icons/item/tooltip_header_bg_4.png);

  &.named {
    --rarity-bg-sqr: url(https://www.nw-buddy.de/assets/icons/item/itemraritybgsquarenamed4.png);
    --rarity-bg-ani: url(https://www.nw-buddy.de/assets/icons/item/named_bg_4.webp);
  }
}

.nw-item-rarity-artifact {
  --rarity-c0: #63230e;
  --rarity-c1: #ff7c55;
  --rarity-c2: #b42e0a;
  --rarity-bg-sqr: url(https://www.nw-buddy.de/assets/icons/item/itemraritybgsquareartifact.png);
  --rarity-bg-rnd: url(https://www.nw-buddy.de/assets/icons/item/itemraritybgsquareartifact.png); // has no circle variant
  --rarity-bg-head: url(https://www.nw-buddy.de/assets/icons/item/tooltip_header_bg_artifact.png);
  --rarity-bg-ani: url(https://www.nw-buddy.de/assets/icons/item/artifact_bg.webp);
}

/** Material Fixes **/
.mat-mdc-card-title-group > div {
  flex-grow: 1;
}

/** FIX: Mat Option Item Layout **/
.mat-mdc-option .mdc-list-item__primary-text {
  flex-grow: 1;
}

.app-option-panel.mat-mdc-select-panel {
  min-width: fit-content;
}
