@use "@angular/material" as mat;

html {
  color-scheme: dark;

  @include mat.theme((
    color: (
      theme-type: dark,
      primary: mat.$orange-palette,
      tertiary: mat.$blue-palette
    ),
    typography: Roboto,
    density: 0
  ));
}
